.divBo{
    width: 100%; height: 100%;

}
ul{
    display:flex;
    width: 900rem;height: 50px;
    list-style-type: none;
}
li{
    width: 10rem;
    height: 100%;
    box-sizing: border-box;
}
li a{
    text-decoration: none;
    color: black;display: block;
    padding: 1rem;
    transition:0.4s;
    background-color: red;
}
li a:hover{
    
    background-color: rgb(221, 9, 9);
}